// config color-pallet

$color-green: #1d809f
$color-green-dark: #17667f
$color-dark: #343a40
$color-yellow: #f2b912
$color-white: #ffffff

$width-mobile: 576px
$width-tablet: 768px
$width-desktop: 1024px

